@tailwind base;
@tailwind components;
@tailwind utilities;

/*Peyda Font Family Persian Number Version*/
@layer base {
  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Thin.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Thin.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Thin.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-ExtraLight.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-ExtraLight.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-ExtraLight.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Light.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Light.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Light.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Regular.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Regular.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Medium.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Medium.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-SemiBold.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-SemiBold.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-SemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Bold.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Bold.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-ExtraBold.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-ExtraBold.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-ExtraBold.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Black.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Black.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Black.woff") format("woff");
  }
}

@layer base {
  body {
    font-family: "PeydaFaNumber", sans-serif;
    font-feature-settings: "ss01" 1;
    font-variant-ligatures: discretionary-ligatures;
  }
}

#footsteps-svg g[id^="Group_"].active {
  transform-origin: center;
  animation: footstep-appear 0.8s ease-in-out forwards;
}

#footsteps-svg g[id^="Group_"].fade-out {
  animation: footstep-disappear 0.8s ease-in-out forwards;
}

@keyframes footstep-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes footstep-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@layer components {
  .bg-under-sea {
    --tw-bg-opacity: 1;
    background-color: rgb(0 11 48 / var(--tw-bg-opacity));
    background-image: url("../../image/under-sea-mobile.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 768px) {
    .bg-under-sea {
      background-image: url("../../image/under-sea.webp");
    }
  }
}

.swiper-webdesign-level .swiper-button-prev {
  right: 1000px !important;
}
