@tailwind base;
@tailwind components;
@tailwind utilities;

/*Peyda Font Family Persian Number Version*/
@layer base {
  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Thin.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Thin.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Thin.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-ExtraLight.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-ExtraLight.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-ExtraLight.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Light.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Light.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Light.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Regular.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Regular.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Medium.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Medium.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-SemiBold.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-SemiBold.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-SemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Bold.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Bold.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-ExtraBold.woff2")
        format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-ExtraBold.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-ExtraBold.woff") format("woff");
  }

  @font-face {
    font-family: "PeydaFaNumber";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../font/peyda/woff2/PeydaWebFaNum-Black.woff2") format("woff2"),
      url("../../font/peyda/TTF/PeydaFaNum-Black.ttf") format("TrueType"),
      url("../../font/peyda/woff/PeydaWebFaNum-Black.woff") format("woff");
  }
}

@layer base {
  body {
    font-family: "PeydaFaNumber", sans-serif;
    font-feature-settings: "ss01" 1;
    font-variant-ligatures: discretionary-ligatures;
  }
}

#footsteps-svg g[id^="Group_"].active {
  transform-origin: center;
  animation: footstep-appear 0.8s ease-in-out forwards;
}

#footsteps-svg g[id^="Group_"].fade-out {
  animation: footstep-disappear 0.8s ease-in-out forwards;
}

@keyframes footstep-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes footstep-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@layer components {
  .bg-under-sea {
    --tw-bg-opacity: 1;
    background-color: rgb(0 11 48 / var(--tw-bg-opacity));
    background-image: url("../../image/under-sea-mobile.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 48rem) {
    .bg-under-sea {
      background-image: url("../../image/under-sea.webp");
    }
  }
}

.swiper-webdesign-level .swiper-button-prev {
  right: 62.5rem !important;
}

.flip {
  transform-style: preserve-3d;
  transition: 3s ease;
}

.flip.flipped {
  transform: rotateY(180deg);
}
/* Content */
.flip .content {
  transform-style: preserve-3d;
}

.flip .back,
.flip .front {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.flip .back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flip button,
.flip .front-content {
  transform: translateZ(3rem);
  text-shadow: 0 0 0.1875rem black;
}

.flip::before,
.flip::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg) translateZ(0.0625rem);
}

.flip::before {
  transform: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-post h1 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.single-post p {
  line-height: 1.625rem !important;
}

.single-post .content h2,
.single-post .content h3,
.single-post .content h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.25rem;
}

.single-post .content p {
  font-size: 1rem;
  font-weight: 400;
  color: #bcbfc9;
  margin-bottom: 1.5rem;
}

.single-post .content div.gallery,
.single-post .content > img,
.single-post .content p img {
  margin-block: 1.5rem;
  width: 100%;
}

.single-post .content img {
  border-radius: 1.5rem;
}

.single-post .content .gallery {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .single-post .content .gallery {
    flex-direction: column;
  }
}

.single-post .content .gallery .gallery-item {
  width: 33%;
  overflow: hidden;
  border-radius: 1.5rem;
}

@media (max-width: 768px) {
  .single-post .content .gallery .gallery-item {
    width: 100%;
  }
}

.single-post .content .gallery .gallery-item img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1.5rem;
}
